<footer id="custom-footer">
    <div class="footer-container">
        <div class="footer-nav">
            <a href="/pages/fr/index.html" class="nav-link" data-key="affichage">Gestion d'Affichage Dynamique</a>
            <a href="/pages/fr/carte-publicitaire.html" class="nav-link map-link" data-key="carte">Carte Publicitaire</a>
            <a href="/pages/fr/contact.html" class="nav-link" data-key="contact">Contactez-nous</a>
        </div>
        <div class="footer-logo">
            <a id="logo-link" href="/pages/fr/index.html">
                <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/913d56a4-7536-40b6-bbc0-4db0640301f0/Design+sans+titre.png?format=2500w" alt="xtranumerik logo">
            </a>
            <div id="footer-bottom" class="footer-bottom">
                © <span id="current-year">2025</span> <a id="bottom-link" href="/pages/fr/index.html">xtranumerik.ca</a> | <span id="rights-text">Tous droits réservés</span>
            </div>
        </div>
        <div class="footer-social">
            <a href="https://x.com" target="_blank" rel="noopener noreferrer"><img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/016efe47-9e7c-4d1c-801e-846e2e22956b/wired-outline-2728-logo-square-x-hover-pinch.gif?format=2500w" alt="X"></a>
            <a href="https://facebook.com" target="_blank" rel="noopener noreferrer"><img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/be4b075d-795d-47a5-bd55-f3bc6156355f/wired-outline-2669-logo-square-facebook-hover-pinch.gif?format=2500w" alt="Facebook"></a>
            <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer"><img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/fef130d8-f903-4e53-a857-8ab7ee3f0feb/wired-outline-2677-logo-square-linkedin-hover-pinch.gif?format=2500w" alt="LinkedIn"></a>
        </div>
    </div>
</footer>