<footer id="custom-footer">
    <div class="footer-container">
        <div class="footer-nav">
            <a href="/pages/fr/index.html" class="nav-link" data-key="affichage">Gestion d'Affichage Dynamique</a>
            <a href="/pages/fr/reseau-publicitaire.html" class="nav-link" data-key="reseau">Réseau Publicitaire</a>
            <a href="/pages/fr/carte.html" class="nav-link map-link" data-key="carte">Voir la map publicitaire</a>
            <a href="/pages/fr/carrieres.html" class="nav-link" data-key="carrieres">Carrières</a>
            <a href="/pages/fr/contact.html" class="nav-link" data-key="contact">Contactez-nous</a>
        </div>
        <div class="footer-logo">
            <a id="logo-link" href="/pages/fr/index.html">
                <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/913d56a4-7536-40b6-bbc0-4db0640301f0/Design+sans+titre.png?format=2500w" alt="xtranumerik logo">
            </a>
            <div id="footer-bottom" class="footer-bottom">
                © <span id="current-year">2025</span> <a id="bottom-link" href="/pages/fr/index.html">xtranumerik.ca</a> | <span id="rights-text">Tous droits réservés</span>
            </div>
        </div>
        <!-- Section réseaux sociaux supprimée pour navigation interne uniquement -->
    </div>
</footer>