<header class="custom-header">
    <div class="logo">
        <a id="logo-link" href="/">
            <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/7eef8943-d34e-4427-b3cb-2884e8c66666/LOGO+Xtranumerik+fond+mauve+%281920+x+1080+px%29.png?format=2500w" alt="Xtranumerik Logo">
        </a>
    </div>
    <nav class="nav-buttons">
        <a id="link-affichage" href="pages/fr/affichage-dynamique.html" class="nav-button">
            Gestion d'affichage dynamique
            <div class="dropdown-container">
                <div class="dropdown-grid">
                    <a href="pages/fr/blog/industries.html" class="dropdown-signage">
                        <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/3391fb05-2ac3-43d2-bf23-f77afee5bf75/Xtranumerik+-+Gestion+centralis%C3%A9-+WEB+Accueil.png?format=2500w" alt="Écran d'affichage dynamique dans une usine industrielle">
                        <h3>Industries</h3>
                        <p>Affiche les métriques de production et les alertes de sécurité.</p>
                    </a>
                    <a href="pages/fr/blog/gyms.html" class="dropdown-signage">
                        <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/db86bc49-10a3-4a73-933c-1e337a73cb5e/Gyms.gif?format=2500w" alt="Écran d'affichage dynamique dans un centre de fitness">
                        <h3>Gyms</h3>
                        <p>Présente les horaires de cours et des conseils de fitness.</p>
                    </a>
                    <a href="pages/fr/blog/restaurants.html" class="dropdown-signage">
                        <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/1744307786373-EIWSK5KDMV64EXXQ1N4S/Diapositive4.JPG?format=2500w" alt="Écran d'affichage dynamique montrant un menu dans un restaurant">
                        <h3>Restaurants</h3>
                        <p>Affiche les menus et les offres spéciales.</p>
                    </a>
                    <a href="pages/fr/blog/concessions-automobile.html" class="dropdown-signage">
                        <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/c13f8573-8e5c-44f8-9d2d-23da5ad3b602/Vachon+Subaru+Gif+WEB.gif?format=2500w" alt="Écran d'affichage dynamique dans une concession automobile">
                        <h3>Concessions automobiles</h3>
                        <p>Met en avant les promotions et les véhicules en vedette.</p>
                    </a>
                    <a href="pages/fr/blog/hotels.html" class="dropdown-signage">
                        <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/100f7c13-c5b8-49d9-adfc-3f15d68ce12c/Hotel.gif?format=2500w" alt="Écran d'affichage dynamique dans un hall d'hôtel">
                        <h3>Hôtels</h3>
                        <p>Informe sur les services et les événements.</p>
                    </a>
                    <a href="pages/fr/blog/centre-commercial.html" class="dropdown-signage">
                        <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/385625e2-7c05-4ed6-81b0-71125d095028/Centre+d%27achat.gif?format=2500w" alt="Écran d'affichage dynamique dans un centre commercial">
                        <h3>Centres commerciaux</h3>
                        <p>Guide les visiteurs avec des plans et des promotions.</p>
                    </a>
                    <a href="pages/fr/blog/commerce-de-detail.html" class="dropdown-signage">
                        <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/2b26da1c-9f2d-4059-a561-b0ed6a2a3900/commerce-de-detail.gif?format=2500w" alt="Écran d'affichage dynamique dans une boutique de détail">
                        <h3>Commerces de détail</h3>
                        <p>Met en valeur les produits et les promotions.</p>
                    </a>
                    <a href="pages/fr/blog/pharmacies.html" class="dropdown-signage">
                        <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/6e66768a-28c2-4ba4-bf79-a5fd6fe58e4d/pharmacy.gif?format=2500w" alt="Écran d'affichage dynamique près d'un comptoir de pharmacie">
                        <h3>Pharmacies</h3>
                        <p>Promeut les produits de santé et les rappels.</p>
                    </a>
                    <a href="pages/fr/blog/cliniques-dentaires.html" class="dropdown-signage">
                        <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/f4c98289-c334-42c4-b944-8fc8c15a0a28/Clinique+dentaire.gif?format=2500w" alt="Écran d'affichage dynamique dans une salle d'attente de clinique dentaire">
                        <h3>Cliniques dentaires</h3>
                        <p>Affiche les services, promotions et conseils d'hygiène.</p>
                    </a>
                    <a href="pages/fr/blog/salons-de-coiffure.html" class="dropdown-signage">
                        <img src="https://images.squarespace-cdn.com/content/v1/657625271114fa52dac0d038/7657204c-6455-4f17-a0c5-b18227d2ea07/Salon+de+coiffure.gif?format=2500w" alt="Écran d'affichage dynamique dans un salon de coiffure">
                        <h3>Salons de coiffure</h3>
                        <p>Présente les services et les promotions.</p>
                    </a>
                </div>
            </div>
        </a>
        <a id="link-reseau" href="pages/fr/reseau-affichage.html" class="nav-button">Réseau Publicitaire</a>
        <a id="link-carrieres" href="pages/fr/carrieres.html" class="nav-button">Carrières</a>
        <a id="link-contact" href="pages/fr/contact.html" class="nav-button">Contact</a>
        <a id="link-login" href="pages/fr/se-connecter.html" class="nav-button login-button">Se Connecter</a>
    </nav>
    <div class="language-switcher">
        <a id="lang-link" href="#" class="lang-button">🌐</a>
    </div>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>
